body
    h1= collection
    #objects
        table(border=1)
            if objects.length > 0
                - each val, key in objects[0]
                th= key
            - each obj in objects
            tr.obj
                - each val, key in obj
                td.key= val